.footer {
    width: 1250px;
    height: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 32px auto;
}
.footer-left {
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-right {
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-right a {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 0px 10px;
}
.footer-left div {
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-left span {
    font-size: 12px;
    color: #949BA6;
}
.footer-left a {
    text-decoration: none;
    margin: 0px 4px;
    font-size: 12px;
    color: #5243C2;
}
.footer-left p {
    margin-right: 4px;
    font-size: 12px;
    color: #949BA6;
}