.summary {
    margin: 20px;
    width: 400px;
}
.summary-header {
    font-size: 32px;
    font-weight: 600;
    color: #1F2939;
}
.price-info {
    width: 100%;
    height: 50px;
    margin: 48px 0px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.price-info button {
    display: flex;
    width: 200px;
    height: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 99px;
    background-color: #5243C2;
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-weight: 600;
    color: #F5F5FF;
    border: none;
    outline: none;
    cursor: pointer;
}
.price-info span {
    width: 200px;
    height: 100%;
    color: #5243C2;
    font-size: 36px;
    font-weight: 800;
}
.summary-message {
    color: #1F2939;
    font-size: 14px;
    font-weight: 400;
}
.summary-message span {
    color: #FF4D4F;
    font-weight: 600;
}
.total-info {
    display: flex;
    justify-content: center;
    align-items: center;
}
.total-info-part {
    width: 124px;
    height: 32px;
    margin: 24px 0px;
    display: flex;
    align-items: center;
}
.total-info-part div {
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 5px;
}
.time-icon {
    border-radius: 99px;
    background-color: #B956F5;
}
.weight-icon {
    border-radius: 99px;
    background-color: #F58F56;
}
.fire-icon {
    border-radius: 99px;
    background-color: #FF4D4F;
}